<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">   
    <title>CINE FORO</title>
    
    <link rel="stylesheet" href="../static/css/maincomments.css"/>
    </head>
      <body>
        <header> 
            <h1>CINE FORO</h1>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" onclick="location.href='http://127.0.0.1:5000/'">CINE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="location.href='http://127.0.0.1:5000/'">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="location.href='http://127.0.0.1:5000/cartelera'">Cartelera</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Foro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="location.href='http://127.0.0.1:5000/pagos'">Carrito de compra</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <section id="content">
            <div class="container1">
                <div class="row align-items-start">
                  <div class="col">
                    <article>
                        <header>
                            <h2>Título de la película</h2>
                            <figure>
                               <img src="../static/images/imagen1.png">
                                <figcaption>Espacio para pequeña descripción película</figcaption>
                            </figure>
                          </header>
                    </article>
                  </div>
                </div>
            </div>
                    <article>
                        Calificación IMDb
                    </article>
            </section>
            
                    
                <div class="container2" id="info">
                    <div class="row align-items-start">
                      <div class="col">  
                        <aside>   
                            <div class="container overflow-hidden">
                                <div class="row gy-5">
                                  <div class="col-6">
                                    <h2>Información</h2>
                                    <div class="p-3 border bg-light"><h5>Director:</h5></div>
                                    <div class="p-3 border bg-light"><h5>Año:</h5></div>
                                    <div class="p-3 border bg-light"><h5>Casting:</h5></div>
                                    <div class="p-3 border bg-light"><h5>Género:</h5></div>
                                    <div class="p-3 border bg-light"><h5>País:</h5></div>
                                    <div class="p-3 border bg-light"><h5>Premios:</h5></div>
                                    <div class="p-3 border bg-light"><h5>Datos interesantes:</h5></div>
                                  </div>
                                </div>
                            </div>
                          </aside>
                    </div>
                  </div>  
                  <aside id= "barracomments">
                    <h2> Barra de comentarios</h2>
                    <form>
                      <input type="text">
                      <input type="Submit" value="Comentar"/>
                    </form>
                  </aside>
                 </div>
       </body>    
        <footer>
            <p>Cinema Grupo 7</p>
        </footer>
</html>

